<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "ch.blueleaf.cappuccevent"
        versionCode = "10"
        version     = "1.0.0">
 
    <name>Cappucc event</name>
 
    <description>
        List of participants, agenda for the conference.
    </description>
 
    <author href="http://www.blueleaf.ch" email="info@blueleaf.ch">
        Mehdi El Ghaziani
    </author>
 
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
 
</widget>